/* ---global styles--- */
:root {
	--dark-red: #210606;
	--light: wheat;
	--curve: 0.5rem;
	--thick: 0.3rem;
	--dark-text: #16181b;
	--shadow: 0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text);
}

* {
	/* box-sizing: border-box; => padding + border included in width & height */
	box-sizing: border-box;
	font-family: "comfortaa";
	text-shadow: 0 0 0.5px black;
}

html {
	/* Converts root from 16px to 10px */
	font-size: 62.5%;
}

body {
	/* 1rem = 10px => sets body default to 16px for legibility */
	font-size: 1.6rem;
	color: var(--light) !important;
	background: #210606;

	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 8rem;
}

h2 {
	font-size: 6rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

p {
	color: var(--dark);
	font-size: 1.3rem;
	color: var(--light);
}

/* ---nav styles--- */
.customNav,
footer {
	min-width: 100%;
	min-height: 10vh;
	/* background: var(--dark-red); */
	background: url("../images/transparency.png");
	background-size: cover;
	padding: 1rem 3rem;
}

footer,
#team-section,
#favourites {
	margin-top: 8rem;
}

.nav-brand-name,
.nav-link h3 {
	color: var(--light) !important;
	text-shadow: var(--shadow);
}

.nav-favourites-item:hover {
	cursor: pointer;
}

.navbar-nav {
	margin-left: auto;
	margin-right: 0;
}

.navbar-brand {
	display: flex;
	padding-right: 1.5em;
	min-width: 6.5rem;
	align-items: center;
	gap: 5px;
}

#logo {
	width: 75px;
	border: solid 3px var(--light);
	border-radius: 15px;
	background-color: wheat;
}

.nav-brand-name {
	/* font-family: "comfortaa"; */
	font-family: "pacifico";
}

.nav-item {
	margin: 0.1em 0.3em;
	padding: 0 0.2em 0 0.5rem;
	border-right: var(--thick) solid var(--light);
}
.nav-link:hover {
	transition: all 0.25s;
	opacity: 0.4;
}

.navbar-toggler-icon {
	width: 3em;
	height: 3em;
}

.favourites-dropdown:hover .dropdown-menu {
	display: flex;
	flex-direction: column;
	transition: all 0.5s;
}
.dropdown-toggle {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* Jumbotron */
.jumbotron {
	min-height: 100vh;
	min-width: 100%;
	margin-bottom: 0;
	padding: calc(10vh + 4rem) 4rem 4rem 4rem;

	/* background: linear-gradient(
			360deg,
			black 0.1%,
			rgba(26, 26, 26, 0.886317) 10.58%,
			rgba(26, 26, 26, 0.886317) 10.58%,
			rgba(26, 26, 26, 0.886317) 10.58%,
			rgba(26, 26, 26, 0.65) 25.45%,
			rgba(26, 26, 26, 0.3) 100%
		),
		url(../images/hero.png); */
	background: url(../images/hero.png);
	background-size: cover;
	background-position: center;

	display: flex;
	align-items: center;
	text-align: center;
}

.hero-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	padding: 0;
}

.hero-text {
	font-family: "homenaje";
	text-shadow: var(--shadow);
}

/* Input Field */
.search-div {
	width: 100%;
	display: flex;
	justify-content: center;
}

.movie-input {
	min-width: 20%;
	padding: 1rem;
	border-radius: 5px;
	font-size: 1.5em;
}
.movie-input:hover,
.favImg:hover {
	box-shadow: 0 0 5px var(--light);
}

#search-menu {
	left: auto;
	border-radius: 5px;
}

.dropdown-menu {
	background: url("../images/transparency.png");
}
.dropdown-item {
	color: var(--light) !important;
	font-size: 1.5em;
	cursor: pointer;
}
.dropdown-item:hover {
	background: var(--dark-red);
}
.dropdown-item:focus {
	background: var(--dark-red);
}

/* Movie modal*/
.modal-content {
	background: var(--dark-red);
	color: var(--light);
	padding: 3rem;
	gap: 3rem;
}

.r1-c1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: var(--light);
}

.test-row,
.test-row-2 {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.c2-r1 {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	color: var(--dark-red);
	margin: 0;
	padding: 1rem 0;
}

#modal-movie-poster {
	max-width: 100%;
	padding: 0;
}

.modal-body-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 0;
}

.r1 {
	background: url("../images/transparency.png");
	margin: 0;
}

.r1-c2 {
	padding: 3rem;
}

.content-flex {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
}

.plot-content,
.more-info {
	text-align: justify;
}

.r2 {
	margin: 0;
	display: flex;
	justify-content: center;
}

.img-col {
	display: flex;
	margin: 0;
	padding: 0.3rem;
	justify-content: space-between;
}

.c2-r2-c1 {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.card {
	background: url("../images/transparency.png");
	text-align: center;
}
.card:hover {
	text-decoration: none;
	box-shadow: 0 0 0.5em var(--light);
}

/* Actor modal */
.actor-modal-body,
.img-box {
	padding: 0;
	margin: 0;
}

.actor-modal-img {
	max-width: 100%;
}

.info {
	display: flex;
	flex-direction: column;
	padding: 0 0 0 3rem;
	gap: 3rem;
}

#actor-stats h4 {
	margin-bottom: 2rem;
}

.height,
.net-worth {
	margin-top: 1rem;
}

/* Favourites Section */
#favourites {
	display: flex;
	flex-direction: column;
	gap: 8rem;
	align-items: center;
	min-width: 100%;
}

.favourites-div,
#team-section {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	background: var(--dark-text);
	padding: 3rem;
}

.favourites-container {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: center;
}

.favImg {
	border-radius: 15px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background: url("../images/transparency.png");
}

.favourites-tile {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	text-align: center;
	padding-bottom: 1rem;
	border-radius: 15px;
	flex-wrap: wrap;
}

.favourites-tile div {
	width: 300px;
	height: 450px;
}

/* Team section */
.team-section h3 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.team-row {
	align-items: center;
	justify-content: center;
}
.team-row img {
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	width: 160px;
	height: 100%;
	gap: 20px;
	cursor: pointer;
}
.team-row img:hover {
	transform: translateY(-10px);
}

/* Footer */
.footer-class {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
}

/* ---media queries--- */
/* nav-bar toggle alignment */
@media (max-width: 432px) {
	.customNav {
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 1rem;
	}

	.navbar-brand {
		padding-right: 0;
		margin-right: 0;
	}

	.navbar-collapse {
		width: 25ch;
	}

	.jumbotron {
		padding: calc(20vh + 4rem) 4rem 4rem 4rem;
	}
}
